h1,
h2,
h3,
h4,
h5 {
  font-family: 'CicleGordita';
  font-weight: normal;
}

.sprite-cell {
  display: inline-block;
  border: 1px solid;
}

/*==============================
=            EXPORT            =
==============================*/
pre[class*='language'] {
  border-radius: 0;
  border: 0;
  box-shadow: none;
}

#downloads-list a {
  padding: 1em;
  display: inline-block;
  border: 1px dotted;
}

/*=====  End of EXPORT  ======*/
